/* Estilos adicionais para o navbar */
.navbar {
    height: 10vh; /* Altura fixa do navbar em relação à altura da viewport */
    background-color: #151D27 !important; /* Cor de fundo do navbar */
    color: #ffffff; /* Cor do texto do navbar */
}

.navbar-brand {
    font-size: 3vw; /* Tamanho da fonte do logo em relação à largura da viewport */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor dos links do menu */
}

.navbar-text {
    font-size: 4.5vh; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin-left: 0.5vh; /* Espaçamento à esquerda */
    padding-top: 1.5vh;
    padding-right: 2vh;
}


.form-inline .form-control {
    width: 10vw; /* Largura do campo de busca em relação à largura da viewport */
    height: 18px; /* Altura do campo de busca */
    font-size: 0.8rem; /* Tamanho da fonte do campo de busca */
    background-color: #151D27; /* Cor de fundo do campo de busca */
    border: 1px solid #ffffff; /* Borda do campo de busca */
    color: #ffffff; /* Cor do texto do campo de busca */
}

.form-inline .btn-outline-success {
    color: #ffffff; /* Cor do texto do botão de busca */
    border-color: #ffffff; /* Cor da borda do botão de busca */
}

@media (max-width: 992px) {
    .form-inline .form-control {
        width: 100%; /* Campo de busca ocupa toda a largura em telas menores */
        margin-bottom: 5px; /* Espaçamento inferior entre o campo de busca e o botão */
    }
}

.btn-light,
.btn-outline-light {
    height: 5vh; /* Altura dos botões em relação à altura da viewport */
    font-size: 2vw; /* Tamanho da fonte dos botões em relação à largura da viewport */
    line-height: 20px; /* Altura da linha de texto dentro do botão */
    padding: 1vh 2vw; /* Espaçamento interno dos botões em relação à viewport */
}

.btn-light {
    background-color: #151D27; /* Cor de fundo do botão de carrinho */
    color: #ffffff; /* Cor do texto dos botões */
}

.btn-light,
.btn-outline-light {
    height: 30px; /* Altura dos botões */
    font-size: 14px; /* Tamanho da fonte dos botões */
    line-height: 20px; /* Altura da linha de texto dentro do botão */
    padding: 3px 8px; /* Espaçamento interno dos botões */
    color: #151D27;
}

.btn-light img {
    width: 16px; /* Largura da imagem do carrinho */
    height: 16px; /* Altura da imagem do carrinho */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    margin-right: 4px; /* Espaçamento à direita da imagem */
}

/* Estilo para o corpo do site */
body {
    background-color: #151D27; /* Cor de fundo do corpo do site */
    color: #ffffff; /* Cor do texto */
}

/* Ajuste de estilo para o carousel */
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Altura ajustada para 40% da altura da viewport */
    padding-top: 2vh; /* Padding top ajustado para 2% da altura da viewport */
}

.carousel-item img {
    max-height: 30vh; /* Altura máxima das imagens do carrossel em relação à altura da viewport */
    object-fit: contain; /* Garante que a imagem cubra todo o espaço */
}

/* Estilo para a div de informações */
.container-fluid .row.align-items-center .info-div {
    height: 10vh; /* Altura da div de informações em relação à altura da viewport */
    background-color: #24303F; /* Cor de fundo da div de informações */
    color: #ffffff; /* Cor do texto da div de informações */
    text-align: center; /* Alinhar texto ao centro */
    font-size: 1.2rem; /* Tamanho da fonte */
    width: 30vw; /* Largura fixa da div em relação à largura da viewport */
    margin: 0 auto; /* Centraliza horizontalmente */
}

@media (max-width: 1199.98px) {
    .container-fluid .row.align-items-center .info-div {
        width: 80vw; /* Largura de 80% para telas menores */
        max-width: 30vw; /* Largura máxima para telas grandes */
    }
}

.container-fluid .row.align-items-center .col {
    text-align: center; /* Alinhar texto ao centro */
    font-size: 1.2rem; /* Tamanho da fonte */
}

/* Ajustes de cores para as divs */
.container-fluid .row {
    background-color: #151D27; /* Cor de fundo das divs */
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3vh; /* Espaçamento superior em relação à altura da viewport */
}

.product-item {
    width: 20vw; /* Largura do item em relação à largura da viewport */
    height: 30vh; /* Altura do item em relação à altura da viewport */
    background-color: #202A39; /* Cor de fundo do item */
    margin: 2vh; /* Espaçamento entre os itens em relação à altura da viewport */
    padding: 2vh; /* Espaçamento interno do item em relação à altura da viewport */
    text-align: center; /* Alinhar conteúdo ao centro */
    box-sizing: border-box; /* Garante que padding não aumente a largura */
}

.product-item img {
    max-width: 100%; /* Imagem responsiva ocupando 100% da largura do container */
    height: auto; /* Altura automática para manter a proporção original */
    margin-bottom: 10px; /* Espaçamento inferior da imagem */
}

.product-item p {
    margin-bottom: 0; /* Remove o espaçamento inferior do parágrafo */
}

@media (max-width: 1199.98px) {
    .products-container {
        width: 100%; /* Para telas menores, ocupa toda a largura disponível */
        padding: 0 1vw; /* Espaçamento interno nos lados em relação à largura da viewport */
    }

    .product-item {
        width: 45%; /* Ajuste para ocupar quase metade da largura em telas menores */
    }
}

/* Animação fadeIn para o navbar */
@keyframes fadeInNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação slideIn para o navbar */
@keyframes slideInNav {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.navbar {
    animation: fadeInNav 0.5s ease-in-out forwards; /* fadeIn ao carregar */
}

.navbar-nav .nav-item {
    animation: slideInNav 0.3s ease-in-out forwards; /* slideIn ao carregar */
}

.navbar-nav .nav-link {
    transition: color 0.2s ease-in-out; /* Transição de cor suave */
}

.navbar-nav .nav-link:hover {
    color: #17a2b8; /* Cor do texto ao passar o mouse */
}

/* CSS para desativar animação após o scroll */
.no-animation {
    animation: none !important;
}

/* Animação fadeIn para as imagens do carrossel */
@keyframes fadeInCarousel {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação fadeOut para as imagens do carrossel */
@keyframes fadeOutCarousel {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilos para o carrossel */
.carousel-item {
    position: relative;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: block;
    opacity: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões de controle */
    transition: background-color 0.3s ease-in-out;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.8); /* Cor de fundo dos botões de controle ao passar o mouse */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #ffffff; /* Cor dos ícones de navegação */
}

/* Estilos para ícones de navegação */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none; /* Remove imagem padrão do Bootstrap */
    font-size: 24px; /* Tamanho dos ícones de navegação */
}

/* Ajuste de posição dos ícones de navegação */
.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;}